<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="navbar navbar-expand-md d-print-none public-nav" th:fragment="publicNav">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#public-nav"
                aria-controls="public-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand mb-0">
            <th:block th:replace="~{layout/brand :: logo(@{/})}"></th:block>
        </h1>
        <div class="collapse navbar-collapse" id="public-nav">
            <div class="navbar-nav ms-auto align-items-md-center gap-md-1">
                <a class="nav-link" th:if="${fullBleed == true}" href="#path">How it works</a>
                <a class="nav-link" href="https://github.com/SlayerBit/linkflow" target="_blank" rel="noopener">Source</a>
                <a class="nav-link" th:href="@{/login}">Sign in</a>
                <a class="btn btn-primary btn-sm ms-md-2" th:href="@{/register}">Create account</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
